<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apa
che.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
        <servers>
                <server>
                        <id>smartnews-mirror</id>
                        <username></username>
                        <password></password>
                </server>
        </servers>

<mirrors>
    <mirror>
        <id>smartnews-mirror</id>
        <url>http://nexus.smartnews.be/nexus/content/repositories/smartnews</url>
        <mirrorOf>smartnews</mirrorOf>
    </mirror>
</mirrors>
</settings>
